<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

		<title>GOTTA PAY THEM BILLS!</title>

			    <!-- Added a link to Bootstrap CSS-->
	    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <!-- Added link to jQuery library-->
	    <link href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<!-- Added link to the Bootstrap JS -->
		<!-- Latest compiled and minified JavaScript -->
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		
	</head>
	<body>
		{{{ body }}}

<script>
	var monthsArray = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
	var date = new Date();
	var month = monthsArray[date.getMonth()];
	var year = date.getFullYear();
	var monthYear = month+"-"+year;

	//display the current month and year
	$("#DateDiv").html(monthYear);

	//warning for inactivation of bill
	$(".inactive").on("click", function(event) {
        event.preventDefault();
        var y = confirm("Are you sure you want to Inactivate?  This action cannot be undone!");
        if (y === true) {
            this.form.submit();
        }
    });

	//on window load if history is empty then return else display modal and prevent actions from closing except close button
    $(window).load(function(){
    	if(!$.trim($("#historyListGroup").html()).length){
     		return;
     	}
     	else{
     		$("#historyModal").modal({backdrop:'static', keyboard: false});
     	}	
  	});

    //on closing of modal return home
	$("#historyModal").on("hidden.bs.modal", function () {
    	window.location = "/";
	});
	
	//form validation for email form
	$(document).ready(function(){
		$("#emailForm").bootstrapValidator({
			fields:{
				email:{
	                validators: {
	                    notEmpty: {
	                        message: 'Please supply your email address'
	                    },
	                    emailAddress: {
	                        message: 'Please supply a valid email address'
	                    }
	                }
	            }
            }
		});
	});

	//action/route for sending email
	$(document).ready(function(){
    	$("#send_email").click(function(){

    		var emailAddress = $("#email_input").val().trim();

	        $.get("/send/" + emailAddress, function(response){
	        	console.log("response: " + response);
		        if(response == "sent"){
		            alert("Email has been sent to "+ emailAddress +" Please check inbox!");
		        }
			});
    	});
	});

	//form validation for new bill
	$(document).ready(function(){
		$('#newBillForm').bootstrapValidator({
			fields:{
				billName: {
					validators:{
						stringLength:{
							min: 2,
						},
						notEmpty: {
							message: "Please enter a name for the bill longer than 2 characters"
						}
					}
				}
			}
		});
	});

	//form validation for payment
	$(document).ready(function(){
		$("#paymentForm").bootstrapValidator({
			fields:{
				confirmID: {
					validators:{
						stringLength:{
							min: 1,
						}
					}
				}
            }
		});
	});


</script>

</body>
</html>