<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

		<title>GOTTA PAY THEM BILLS!</title>

			    <!-- Added a link to Bootstrap CSS-->
	    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <!-- Added link to jQuery library-->
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<!-- Added link to the Bootstrap JS -->
		<!-- Latest compiled and minified JavaScript -->
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		
	</head>
	<body>
		{{{ body }}}

<script>
	var monthsArray = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
	var date = new Date();
	var month = monthsArray[date.getMonth()];
	var year = date.getFullYear();
	var monthYear = month+"-"+year;

	$("#DateDiv").html(monthYear);

	//$("#inactive").on("click", function(event) {
        //alert("Are you sure you want to inactivate?")
    //});

	$(".inactive").on("click", function(event) {
        event.preventDefault();
        var y = confirm("Are you sure you want to Inactivate?  This action cannot be undone!");
        if (y === true) {
            this.form.submit();
        }
    });

    $(window).load(function(){
    	if(!$.trim($("#historyListGroup").html()).length){
     		return;
     	}
     	else{
     		$("#historyModal").modal({backdrop:'static', keyboard: false});
     	}	
  	});

	//$(".historyBtn").on("click", function(event){
	 	//event.preventDefault();
	 	//var nodeId = $(this).attr('id');
		//console.log("again ID: " + nodeId);

	 	//$.ajax({
	 		//type: "GET",
	 		//url: "/api/history/" + nodeId
	 	//}).done(function(yourData){
	 		//$("#historyModal").modal("toggle");	
	 	//});
	//});

	$("#historyModal").on("hidden.bs.modal", function () {
    	window.location = "/";
	});


</script>

</body>
</html>