li {
  padding: 5px;
  margin: 5px;
}

body{
	background-image: url("../images/grey_wash_wall.png");
}

#page-header{
	font-weight: bold;
	font-size: 60px;
}

.card-header{
	font-weight: bold;
	font-size: 22px;
}

.list-group-item{
	font-weight: bold;
	font-size: 16px;
}

.panel-title{
	font-weight:bold;
	font-size: 20px;
	padding: 10px;
}

.jumbotron{
	text-align:center;
}

.form-group {
  margin-bottom: 5px;
}

.boxes{
	display:inline-block;
}

#center-card{
	margin: auto;
}

#okCheck{
	font-size: 30px;
	color: green;
}

#minus{
	font-size: 30px;
	color: orange;
}
