li {
  padding: 5px;
  margin: 5px;
}

body{
	background-image: url("../images/grey_wash_wall.png");
}

#page-header{
	font-weight: bold;
	font-size: 60px;
}

.card-header{
	font-weight: bold;
	font-size: 22px;
}

.list-group-item{
	font-weight: bold;
	font-size: 16px;
}

#amountLabel{
	padding-left: 15px;
}

#payBtn{
	width: 68px;
}

.btn{
	font-weight: bold;
	margin: 5px;
}

.btnCSS{
	width: 120px;
	margin-left: auto;
	margin-right: auto;
}

.panel-title{
	font-weight:bold;
	font-size: 20px;
	padding: 10px;
}

.jumbotron{
	text-align:center;
}

.form-group {
  margin-bottom: 5px;
}

.input{
	margin: 5px;
}

.boxes{
	text-align: center;
	font-size: 16px;
}

#newBillForm{
	padding-top: 0px;
}

#addBillPanel{
	padding: 5px;
}

#billNameDiv{
	font-size: 22px;
	margin-top: 20px;
}

#paidDueDiv{
	margin-top: 25px;
}

.glyphGroup{
	border: 0px !important;
}

.billPanels{
	border: solid;
	border-width: 2px;
	margin: 3px;
}

#inlineBillForm{
	padding-bottom: 20px;
}

.fullBillPanel{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 15px;
	padding-right: 15px;
}

input{
	margin: 5px;
}

.btnDiv{
	width: 120px;
	margin-right: 15px;
	margin-left: 15px;
}

#center-card{
	margin: auto;
}

#okCheck{
	font-size: 50px;
	color: green;
}

#minus{
	font-size: 50px;
	color: orange;
}

#DateDiv{
	margin: 5px;
	font-size: 30px;
	font-weight: bold;
	color: #B03A2E;
}

#inactiveList{
	font-size: 18px;
	font-weight: bold;
	text-align: right;
}

#inactiveForm{
	text-align: left;
}

#inactivePanel{
	height: 50px;
	display:flex;
	justify-content:center;
	align-items:center;
	border: solid;
	border-width: 2px;
	margin: 3px;
}
